@page "/"
@using DCI.Social.Identity
@attribute [Authorize(Policy = IdentityConstants.IsAuthenticatedPolicyName)]

<PageTitle>DCI Social</PageTitle>
<div class="dci-social-home-page">
    @if(_userName != null) {
        <div class="dci-social-home-user-name">@_userName</div>
    }

</div>
