.dci-social-home-page {
    position: absolute;
    left: 0px;
    top: 0px;
    height: 1500px;
    width: 1038px;
    background-size: contain;
    background-repeat: no-repeat;
}

.dci-social-registration {
    background-image: url('images/bo2024/registration-background.webp');
}


.dci-social-registered {
    background-image: url('images/bo2024/registered-background.webp');
}


.dci-social-home-user-name {
    font-family: Papyrus;
    font-size: 72pt;
}

.dci-social-register-button {
    position: absolute;
    content: '';
    border: none;
    width: 26%;
    height: 18%;
    left: 15%;
    top: 54%;
    background-color: transparent;
}