@page "/buzzer"
@using DCI.Social.Identity
@attribute [Authorize(Policy = IdentityConstants.IsAuthenticatedPolicyName)]

<div class="dci-social-buzzer">

    <div class="dci-social-buzzer-buzzer-container">
        <button 
            type="button" 
            class="dci-social-buzzer-buzzer-button @BuzzerClass"
            disabled="@(_buzzerIsPressed ? "disabled" : null)"
            @onclick="@(() => OnBuzzerPressed())"
        ></button>
    </div>

</div>