################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

**/.vs/
**/appsettings.local.json
**/obj/
**/bin/
/DCI.Social.HeadQuarters/resources/hq.key
/DCI.Social.FOB/hq.crt
/DCI.Social.HeadQuarters/resources/hq.pfx
/DCI.Social.HeadQuarters/resources/hq.crt
/DCI.Social.UI/resources/certificate/dci.social.crt
/DCI.Social.UI/resources/certificate/dci.social.key
/DCI.Social.UI/resources/certificate/dci.social.pfx
**/*.secrets.yaml