@using DCI.Social.Identity
@inherits LayoutComponentBase

<PageTitle>DCI Social</PageTitle>

<div class="dci-social-layout-main-bg">
    @if(_user != null)
    {
        <CascadingValue Value="_user">
            @Body
        </CascadingValue>
    }
    else {
        @Body
    }
</div>
